.add-adminblog-container {
    display: block;
    background-color: #fff;
    padding: 10px 50px;
    width: 60%;
    margin-left: 500px;
}

/* add blog */

.add-blog-title {
    margin-bottom: 20px;
}

#add-blog-title {
    width: 99%;
    text-align: left;
    padding: 5px 0 10px 10px;
    border-radius: 5px;
    border-color: #898989;
}

#add-blog-title::placeholder {
    font-size: 16px;
    margin: 10px;
}

.add-blog-description {
    margin-bottom: 20px;
}

#add-blog-description {
    width: 99%;
    text-align: left;
    padding: 5px 0 10px 10px;
    border-radius: 5px;
    border-color: #898989;
}

#add-blog-description::placeholder {
    font-size: 16px;
    margin: 10px;
}

.add-blog-cover-image {
    margin-bottom: 20px;
}

#add-blog-cover-image {
    width: 99%;
    text-align: left;
    padding: 5px 0 10px 0px;
    border-radius: 5px;
    border-color: #898989;
}

#add-blog-cover-image::placeholder {
    font-size: 16px;
    margin: 10px;
}

/* add blog content */

.add-blog-content {
    min-height: 400px;
    height: 450px;
}

/* add blog button */

.add-blog-button {
    text-align: right;
    margin: 10px 0;
}

.add-blog-btn {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 5px;
    border: solid 1px #333;
    cursor: pointer;
    text-align: center;
}

.add-blog-btn:hover {
    background-color: #1e266d;
    color: #f1f1f1;
}
