.blogs-path {
    text-align: left;
    /* padding: 10px 100px; */
    font-size: 14px;
}

.blogs-link {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color:#050295;
}

.blogs-link:hover {
    color: rgb(240, 27, 27);
    cursor: pointer;
}

.icon-angle-right {
    color: #050295;
    opacity: 0.8;
    font-size: 10px;
}

/* Responsive */

@media screen and (max-width: 1200px) {
    .blogs-path {
        padding: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    .blogs-path {
      padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .blogs-path {
      padding: 0 30px;
    }
}