.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  .table {
    border-collapse: collapse;
    width: 1700px;
    border-radius: 10px;
    overflow: hidden;
  }
  .table-row th,
  .table-row td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 25px;
    height: 80px;
  }
  .table-row th {
    background-color: #1E266D;
    color: white;
    font-weight: 500;
    text-align: center;
  }
  .table-row th:first-child {
      width: 50px;
  }
  .table-row th:nth-child(5) {
      width: 200px;
  }
  .table-row th:nth-child(6) {
    width: 250px;
}
  .table-row td {
    text-align: center;
  }
  .table-row td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 450px;
  }
  .table-row td:nth-child(3) {
      line-height: 35px;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      
  }
  .table-row:nth-child(odd) {
    background-color: rgb(205, 235, 253);
  }
  .table-row:nth-child(even) {
    background-color: white;
  }
  .check {
      color: #56C662;
      font-size: 35px;
  }

  .circle {
      margin-right: 10px;
      clip-path: circle(50%);
      height: 35px;
      width: 35px;
  }
 .view-btn {
    font-size: 25px;
    background-color: var(--primary);
    color: white;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .view-btn:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }