.listtable-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    margin-bottom: 20px;
    margin-left: 330px;
  }
  
  .listtable {
    border-collapse: collapse;
    width: 75vw;
    border-radius: 10px;
    overflow: hidden;
  }
  .listtable-row th,
  .listtable-row td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 22px;
    height: 60px;
  }
  .listtable-row td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 720px;
  }
  .listtable-row th {
    background-color: #1E266D;
    color: white;
    font-weight: 500;
    text-align: center;
  }
  .listtable-row th:first-child {
    width: 50px;
  }
  .listtable-row th:nth-child(4) {
    width: 150px;
  }
  .listtable-row th:nth-child(5) {
    width: 150px;
  }
  .listtable-body tr td {
    text-align: center;
    font-size: 20px;
    height: 50px;
  }
  .listtable-body tr:nth-child(odd) {
    background-color: rgb(205, 235, 253);
  }
  .listtable-body tr:nth-child(even) {
    background-color: white;
  }
 .view-btn {
    font-size: 20px;
    background-color: #E8505B;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
  }
  .view-btn:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
  }