.btn {
  padding: 8px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;

}

.btn--primary {
  background-color: #E8505B;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.btn--outline {
  background-color: #2C31CF;
  color: #2C31CF;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  max-height: 37px;
  color: #2C31CF;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover {
  transition: all 0.3s ease-out;
  background-color: #B21010;
}


.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.btn--primary:hover,
.btn--outline:hover {
  /* background-color: #4D96FF; */
  /* color: white; */
}
button.btn.btn--outline.btn--medium {
  background: #2c31cf;
  color:#fff;
  font-weight: 400;
  font-size: 18px;
}
button.btn.btn--primary.btn--medium{
  background: #e8505b;
  color:#fff;
  font-weight: 400;
  font-size: 18px;
}
.btn:hover {
  background: #fff !important;
  color: #25308e !important;
  /* border: 2px solid #25308e; */
  /* opacity: 0.7; */
}