.why-container {
    margin: 0px auto;  
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: block;
    background-color: #f3efeb;
    padding: 60px 0;
    transition: all 300ms;
    position: relative;
}

.why-title {
    font-size: 35px;
    line-height: 1.5;
    color: #1e266d;
    font-weight: bold;
    padding: 0px 20px;
    margin: 10px 0 60px;
}

.why-row {
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-why-img {
    display: none;
}

.list-why-img img {
    border-radius: 30px;
    vertical-align: middle;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.why-text .list-why-text:first-child {
    margin-top: 40px;
}

.list-why-text img {
    border-radius: 10px;
}

.wrap-why-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    color: #455880;
    font-weight: 600;
    margin: 20px 0;
    padding: 18px 10px;
    border-radius: 10px;
    transition: all 300ms;
    text-align: left;
}

.wrap-why-item img {
    margin-right: 20px;
}

.active {
    background-color: #fff;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1920px) {
    .why-container {
        margin-top: 200px;
    }
}  

@media screen and (max-width: 1200px) {
    .why-container {
        margin-top: 150px;
    }

    .why-img {
        width: 70%;
    }

    .why-img img {
        width: 90%;
    }

    .why-text .list-why-text:first-child{
        margin-top: 20px;
    }

    .wrap-why-item {
        width: 90%;
        font-size: 15px;
        margin: 10px 0;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 992px) {
    .why-container {
        margin-top: 60px;
    }

    .why-img {
        width: 60%;
    }

    .why-img img {
        width: 100%;
    }

    .why-text .list-why-text:first-child{
        margin-top: 0px;
    }

    .wrap-why-item {
        width: 100%;
        font-size: 14px;
        margin: 0;
        padding: 8px 5px;
        height: fit-content;
    }

    .wrap-why-item img {
        height: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .why-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .why-container {
        width: 100%;
    }

    .why-img {
        width: 100%;
    }

    .why-img img {
        width: 100%;
    }
}