.exer-containner
{
    border-radius: 8px;
    display:block;
    background-color:#fff;
    width: 250px;
    height: 230px;
    margin: 20px 10px;
    text-align: center;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.exer-title
{
    font-size: 24px;
    font-weight:500;
    margin-top: 30px;
}
.exer-type
{
    font-size: 20px;
    font-style: italic;  
}
.exer-level
{
    font-size: 20px;
    font-weight:600;
    color: rgb(65, 236, 117);
    margin-bottom: 50px;
    margin-top: -20px;

}
.container-btn-start
{
    text-align: center;
}
.btn-start
{
    font-size: 20px;
    padding: 7px 18px;
    width: 50px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(65, 236, 117);
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.container-btn-start:hover a
{
    cursor: pointer;
    transform: scale(1.5) !important;
}
