.navbar {
  background: linear-gradient(90deg, rgb(230, 249, 249) 0%, rgb(255, 255, 255) 100%);
  /* background-color: red; */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 1500px;
  width: 100%;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.dce-logo {
  max-width: 60px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 63vw;
  justify-content: start;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  justify-content: end;
  align-items: center;
  width: 47vw;
}

.nav-item {
  height: 70px;
}

.nav-links {
  color: #3B3C54;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem 0;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 2px solid #2C31CF;
  color: #2C31CF;
  transition: all 0.2s ease-out;
  background-color: rgb(215, 215, 230);
}

.fa-bars {
  color: #3B3C54;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.notification,
.profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 20px;
  cursor: pointer;
  color: #3B3C54;
}
.notification:hover {
  color: #2C31CF;
}
.profile img {
  width: 40px;
  height: 40px;
  margin: auto 0;
}
.menu-starter {
  position: relative;
  right: 215px;
  background-color: red;
}
.menu {
  width: 250px;
  position: absolute;
  top: 20px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.options {
  display: flex;
  flex-direction: column;
}
.options span {
  height: 45px; 
  line-height: 45px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  text-align: left;
}
.options span:last-child {
  border-bottom: none;
}
.options span:hover {
  background-color: #f5f5f5;
}
.options p {
  margin-left: 20px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  color: #3B3C54;
}
.options a {
  text-decoration: none; 
  text-align: left;
}
.options a:hover {
  background-color: #f5f5f5;
}
.logout {
  margin-left: 20px;
  color: #3B3C54;
}


@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: calc(-100vw - 40px);
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: -40px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin: 0;
  }

  .nav-links {
    color: #3B3C54;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 100%;
    padding: 0;
  }

  .nav-links:hover {
    background-color: #2C31CF;
    color: white;
    border-radius: 3px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 30%);
  }

  .button-container {
    display: inline;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  .button-container > li:first-child {
    display: flex;
    justify-content: center;
  }

  .menu-starter {
    visibility: hidden;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.6rem;
    cursor: pointer;
  }

  .fa-bars:hover {
    color: #606179;
  }
  
  .fa-times {
    color: #3B3C54;
    font-size: 2rem;
  }

  .fa-times:hover {
    color: #606179;
  }

  .nav-links-mobile {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    font-size: 1.5rem;
    background-color: transparent;
    color: #3B3C54;
    padding: 14px 20px;
    border: 2px solid #3B3C54;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #2C31CF;
    color: white;
    transition: 250ms;
  }
}
