.update-adminblog-container {
    display: block;
    background-color: #fff;
    padding: 20px 50px;
    margin-left: 300px;
}

/* update blog */

.update-blog-title {
    margin-bottom: 20px;
}

#update-blog-title {
    width: 99%;
    text-align: left;
    padding: 5px 0 10px 10px;
    border-radius: 5px;
    border-color: #898989;
}

#update-blog-title::placeholder {
    font-size: 16px;
    margin: 10px;
}

.update-blog-description {
    margin-bottom: 20px;
}

#update-blog-description {
    width: 99%;
    text-align: left;
    padding: 5px 0 10px 10px;
    border-radius: 5px;
    border-color: #898989;
}

#update-blog-description::placeholder {
    font-size: 16px;
    margin: 10px;
}

.update-blog-cover-image {
    margin-bottom: 20px;
}

#update-blog-cover-image {
    width: 99%;
    text-align: left;
    padding: 5px 0 10px 0px;
    border-radius: 5px;
    border-color: #898989;
}

#update-blog-cover-image::placeholder {
    font-size: 16px;
    margin: 10px;
}

/* update blog content */

.update-blog-content {
    min-height: 400px;
    height: 450px;
}

/* update blog button */

.update-blog-button {
    text-align: right;
    margin-top: 0;
    margin-bottom: 10px;
}

.update-blog-btn {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 5px;
    border: solid 1px #333;
    cursor: pointer;
    text-align: center;
}

.update-blog-btn:hover {
    background-color: #1e266d;
    color: #f1f1f1;
}