.AddExercise-container
{
    padding: 50px;
}
.AddExercise-container h2
{
    color: #000;
}
/*button*/
.show{
    display: block;
}
.hide
{
    display: none;
}
.button-AddExercise
{
    text-align: right;
}
.button-add-AddExercise:hover
{
    cursor: pointer;
    background-color: cornflowerblue;
}
.button-add-AddExercise
{
    width: 130px !important;
    padding: 3px 0;
    background-color: #1E266D;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 30px !important;
}

.AddExercise-main
{
    display: flex;
}
.AddExercise-left
{
    width: 30%;
    margin-right: 20px;
}
.AddExercise-right
{
    width: 70%;
    padding: 20px;
    text-align:left;
}
.addExercise-label
{
    display: block;
    font-weight: 600;
    font-size: 20px;
}
.AddExercise-right-title p
{
    font-weight: 600;
    font-size: 28px;
}
.row-AddExercise
{
    margin-bottom: 15px;
}
.AddExercise-right input
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
.AddExercise-right textarea
{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
.AddExercise-right select
{
    padding: 8px 10px;
    margin: 5px 0;
}
.form-add-AddExercise p
{
    font-weight: 600;
    font-size: 28px;
}
#desExercise
{
   height: 100px;
}
#contentExercise
{
   height: 200px;
}
.add-test-case
{
    border: 1px solid #000;
    padding: 10px 10px;  
    font-style: italic; 
    color: #5f5c5c; 
    font-weight: 500;
    width: 20%;
}
.add-test-case:hover
{
    color: forestgreen;
    cursor: pointer;
}
.add-test-case i
{
    margin-right: 15px;
}
.in-out-Exercise
{
    display: flex;
    
}
#testExercise
{
  height: 100px;
}