#add-testcase-label
{
    display: block !important;
    font-size: 20px !important;
    margin-bottom: 10px !important;
}
#nameExercise
{
    width: 23%;
    font-size: 18px;
    /* text-align: center; */
}
#nameExercise option
{
    text-align: left;
}
.add-new-test-case
{
    border: none;
    font-weight: 600;
}
.add-new-test-case i
{
    margin-right: 10px;
}
.btn-add-testcase
{
    /* margin-right: 130px !important; */
}
.addTestcase-path
{
    padding: 0 !important;
}
#nameExercise
{
    border-radius: 5px;
    /* cursor: pointer; */
    border: green 1px solid;
    width:100%;
}
#add-testcase-label
{
    font-weight: 600;
}