.Banner
{
    padding: 70px;
    font-family: 'Muli',sans-serif;
    background-image: url(/src/assets/images/footer-banner-bg.png);
    background-size: 110%;
    text-align: center;
}
.Banner-content
{
    text-align: center;
}
.title
{
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
} 
.title span
{
    color:#FAD93C;
    margin-bottom: 16px;
}
.Banner-content .banner-text
{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
}
.Banner-button button
{
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.27;
    padding: 18px 25px;
    background-color: #e94a19;
    border-radius: 4px;
    border: none;  
    cursor: pointer;
    
}
button:hover
{
    background-color: #f31606;
    color: #000;
}