:root {
  --primary: #E8505B;
}

.btn {
  padding: 8px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.btn--outline {
  background-color: transparent;
  color: #2C31CF;
  padding: 8px 20px;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  max-height: 37px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover {
  transition: all 0.3s ease-out;
  background-color: #B21010;
}


.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.btn--primary:hover,
.btn--outline:hover {
  background-color: #4D96FF;
  color: white;
}