.roadmap-container {
    margin: 0px auto;  
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    display: block;
    padding: 60px 0;
    transition: all 300ms;
}

.roadmap-title {
    font-size: 35px;
    line-height: 1.5;
    color: #1e266d;
    font-weight: bold;
    padding: 0px 20px;
    margin: 10px 0 60px;
}

.roadmap-row {
    margin: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.roadmap-step {
    width: calc((100% - 60px) / 3);
    height: 300px;
    position: relative;
    text-decoration: none;
    background-color: transparent;
}

.roadmap-step:hover {
    transform: scale(1.1);
}

.roadmap-step-img {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 auto 40px;
    max-width: calc(100% - 60px);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgb(158, 159, 170);
    text-align: center;
    width: 100%;
    transition: all 300ms;
}

.roadmap-step-img img {
    transition: all 300ms;
    max-width: 100%;
    border-radius: 10px;
    vertical-align: middle;
    height: 350px;
}

.roadmap-label-step {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    background: linear-gradient(90deg, #2c31cf 0%, #b44fff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

.roadmap-step-title {
    font-size: 28px;
    line-height: 1.5;
    margin: 0 0 10px;
    color: #000;
}

.roadmap-step-title:hover {
    color: darkblue;
}

.roadmap-step-des {
    font-size: 20px;
    margin: 0 0 50px;
    font-weight: 500;
    color: #000;
}

@media screen and (max-width: 1920px) {
    .roadmap-container {
        width: 90%;
    }

    .roadmap-step-img img {
        max-width: 100%;
        height: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    .roadmap-step-img img {
        height: fit-content;
    }
}

@media screen and (max-width: 992px) {
    .roadmap-step-img img {
        height: fit-content;
        max-width: 100%;
    }

    .roadmap-step-title {
        font-size: 24px;
    }

    .roadmap-step-des {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .roadmap-step {
        width: 100%;
        height: fit-content;
    }

    .roadmap-step-img {
        margin-bottom: 20px;
    }

    .roadmap-step-img img {
        height: fit-content;
    }

    .roadmap-step-title {
        font-size: 24px;
    }

    .roadmap-step-des {
        font-size: 17px;
    }
}

@media screen and (max-width: 600px) {
    .roadmap-container {
        width: 100%;
    }

    .roadmap-step {
        width: 100%;
        height: fit-content;
    }

    .roadmap-step-img {
        margin-bottom: 20px;
    }

    .roadmap-step-img img {
        height: fit-content;
    }

    .roadmap-step-title {
        font-size: 22px;
    }

    .roadmap-step-des {
        font-size: 16px;
    }
}