.AddLesson-container
{
    padding: 50px;
}
.AddLesson-container h2
{
    color: #000;
}
/*button*/
.show{
    display: block;
}
.hide
{
    display: none;
}
.button-AddLesson
{
    text-align: right;
}
.button-add-AddLesson:hover
{
    cursor: pointer;
    background-color: cornflowerblue;
}
.button-add-AddLesson
{
    width: 130px !important;
    padding: 3px 0;
    background-color: #1E266D;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 30px !important;
}

.AddLesson-main
{
    display: flex;
}
.AddLesson-left
{
    width: 30%;
    margin-right: 20px;
}
.AddLesson-right
{
    width: 70%;
    padding: 20px;
    text-align:left;
}
.addLesson-label
{
    display: block;
    font-weight: 600;
    font-size: 20px;
}
.AddLesson-right-title p
{
    font-weight: 600;
    font-size: 28px;
}
.row-AddLesson
{
    margin-bottom: 15px;
}
.AddLesson-right input,textarea
{
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
}
.AddLesson-right select
{
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
}
.form-add-AddLesson p
{
    font-weight: 600;
    font-size: 28px;
}
#desLesson
{
    height: 100px;
}
#contentLesson
{ 
   height: 200px;
}
.add-test-case
{
    border: 1px solid #000;
    padding: 10px 10px;  
    font-style: italic; 
    color: #5f5c5c; 
    font-weight: 500;
    width: 20%;
}
.add-test-case:hover
{
    color: forestgreen;
    cursor: pointer;
}
.add-test-case i
{
    margin-right: 15px;
}
.in-out-Lesson
{
    display: flex;
    
}
#testLesson
{
  height: 100px;
}