/* dữ liệu chính */

.home-DCE {
  width: 1240px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  background: #ecedf0;
}

/* group 1 */
.wrap-block-user {
  padding: 30px 0;
  margin-bottom: 30px;
  background-color: #1e266d;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.wrap-block-user .welcome-user {
  margin-left: 150px;
  font-size: 18px;
  line-height: 1.26;
  font-weight: 600;
  display: block;
  /* margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}

.welcome-user span {
  color: #ff5c00;
}

.btn-important {
  background-color: #ff5c00;
  padding: 0 5px;
  transition: all 300ms;
  margin: 0 3px;
  display: inline-block;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
}

.profile-user {
  /* margin-right: -15px;
  margin-left: -15px; */
  margin-left: 150px;
  /* display: flex;
  flex-wrap: wrap;  */
  /* justify-content: space-between;  */
  margin-top: 25px;
  text-align: center;
}

.col-xs-12,
.col-sm-6,
.col-md-6,
.col-sm-7,
.col-sm-4,
.col-md-4,
.col-md-8,
.col-lg-3,
.col-lg-7,
.col-lg-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 500px;
}

.col-md-4 {
  float: left;
  width: 30%;
}

.main-user-info {
  background-color: #575fa8e3;
  padding: 15px 20px 20px 15px;
  border-radius: 5px;
  width: 300px;
  height: fit-content;
  margin-bottom: 30px;
}

.user-ava .future-img {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  display: block;
  align-items: center;
  margin-left: 100px;
}

.future-img {
  margin-top: 30px;
  vertical-align: middle;
  border: 0;
}

.content-info {
  margin-left: 0px;
}

.user-name {
  font-size: 20px;
}

.user-process .name {
  padding-bottom: 30px;
}

/* BEN PHAI */

.col-md-8 {
  width: 70%;
}

.detail-user {
  padding-left: 500px;
  padding-top: 70px;
}

/* .detail-user>.row, .detail-user {
  background-color: #1E266D;
} */

.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.detail-progress-item {
  margin-bottom: 20px;
  margin-right: 100px;
}

.detail-progress-item h4 {
  font-size: 24px;
}

.detail-progress-item .detail-progress-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-right: 20px;
}

.detail-progress-item .result {
  color: #ffe600;
  font-weight: 700;
  font-size: 32px;
}

.item-progress-bar {
  height: 5px;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-color: white;
}

.current-progress {
  width: 10px;
  display: block;
  border-radius: 10px;
  position: relative;
  height: 100%;
  background: #42ff00;
}

/* ----------------------------------------------------- PHAN 2 --------------- */

.home-section {
  margin-bottom: 30px;
  width: 1240px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.heading-block {
  font-size: 26px;
  color: #452be2;
  line-height: 1.25;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrap-block-courses .heading-block a {
  transform: translateY(50px);
}

.heading-block a {
  color: black;
  float: right;
  transition: all 300ms;
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
}

.wrap-cl-tabs-control {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

.wrap-cl-tabs-control .mobile-dropdown-control {
  display: none;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  line-height: 1.25;
  text-decoration: none;
}

.wrap-cl-tabs-control .mobile-dropdown-control-select {
  border: none;
  -webkit-appearance: none;
  text-indent: 1px;
  padding: 0 25px 15px 0;
  background: none;
  position: relative;
  z-index: 1;
  outline: none !important;
  color: #25308e;
}

.wrap-cl-tabs-control .mobile-dropdown-control-select option {
  font-weight: 400;
  font-size: 18px;
  border: solid 1px #ddd;
  line-height: 1.25;
  text-decoration: none;
  margin: 0;
  /* font: ; -------------------------*/
  color: black;
}

.mobile-dropdown-control-select option {
  text-decoration: none;
}

.wrap-cl-tabs-control .mobile-dropdown-control i {
  padding-left: 10px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.cl-tabs-control {
  margin: 0;
  display: flex;
  align-items: center;
  /* width: 100%; */
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.cl-tabs-control li {
  display: inline-block;
  list-style: none;
  margin: 0 40px 10px 0;
  text-align: -webkit-match-parent;
}

.cl-tabs-control li a:not(.disabled):hover,
.cl-tabs-control li a:not(.disabled).active {
  color: #452be2;
  text-decoration: none;
  background: #ecedf0;
}

.cl-tabs-control li a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  color: black;
  line-height: 1.27;
}

.cl-tab-item.active {
  display: inline-block;
}

.cl-tab-item {
  width: 100%;
}

.grid-style.course-item {
  border-radius: 8px;
}

.gird-style {
  background: #ecedf0;
}

.list-courses {
  background: #ecedf0;
}

.course-item:hover {
  transform: scale(1.035);
  opacity: 0.7;
}

.col-lg-3 {
  width: 25%;
  background: #ebebeb;
}

.col-sm-6 {
  width: 50%;
}

.course-item .wrap-course-item {
  /* background: white; */
  box-shadow: 0 2px 10px;
  display: inline-block;
  color: #1e266d;
  width: 100%;
  transition: all 300ms;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.course-item .course-thumb {
  position: relative;
}

.cl-badge {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  left: -5px;
}

.grid-style.course-item .course-thumb img {
  border-radius: 3px 3px 0 0;
}

.course-item .course-thumb img {
  width: 100%;
  transform: none !important;
  display: block;
  object-fit: cover;
  /* background-color: #ddd; */
  border: 0;
}

.course-thumb img {
  height: 180px;
}

.grid-style.course-item .view-content {
  padding: 15px;
  border-radius: 0 0 3px 3px;
  background: white;
}

.course-item .course-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.3;
  max-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.course-item .view-content p {
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 20px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.course-item .course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 15px;
  min-height: 55px;
}

.course-item .course-info span {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.course-item .course-info span .btn {
  margin: 0;
  font-size: 16px;
}

/* .wrap-home-content .btn .btn-round { */
.course-info .btn-round {
  background-color: #25308e;
  border-radius: 10px;
}

.btn {
  color: white;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  transition: all 300ms;
  padding: 8px 15px;
  text-decoration: none;
}

.btn:hover {
  background: white;
  color: #25308e;
  border: 2px solid #25308e;
  opacity: 0.7;
}

/* ------------------------------------------------- PHAN 3 --------------- */

.mid-bottom-section .row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.mid-bottom-section .row > div {
  display: flex;
  flex-direction: column;
}

.col-lg-7 {
  width: 58%;
  float: left;
}

.mid-bottom-section .wrap-home-block {
  flex-grow: 1;
  background: #ffffff;
}

.mid-bottom-section .wrap-home-block:hover {
  transform: scale(1.035);
  opacity: 0.7;
}

.wrap-training-section .wrap-home-block {
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-effect,
.wrap-home-block,
.wrap-code-fight-item {
  transition: all 300ms;
  border: 1px solid #ebebeb;
}

.wrap-home-block {
  padding: 25px;
  background: var(--white);
  border-radius: 4px;
}

.list-training-summary {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  width: 100%;
}

.list-training-summary .summary-value {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
}

.list-training-summary li {
  list-style: none;
  padding: 20px;
  width: calc(50% - 15px);
  margin-bottom: 25px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px dashed #d4d5dd;
}

.mid-bottom-section .row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.col-sm-4 {
  width: 33, 33333%;
}

.training-item .wrap-training-content {
  margin-bottom: 0;
  text-decoration: none;
}

.wrap-training-content {
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: 0 5px 15px 0 #dedede;
  width: 100%;
  display: inline-block;
  color: inherit;
}

.task-item-detail {
  padding: 30px 10px 0;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}

.task-title {
  margin: 0 0 35px;
  font-size: 22px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 1.35;
  color: var(--main-color);
}

.task-item-detail .badge.easy {
  background-color: #77c148;
}

.task-item-detail .badge {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 40px;
  padding: 5px 10px;
  border-radius: 20px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.task-item-detail .badge.medium {
  background-color: #faa05e;
  padding: 12px 28px;
  color: white;
}

.task-item-detail .badge.medium span {
  font-size: 10px;
  color: white;
}

.task-info-info {
  margin: 0;
  padding: 0 5px;
  background: #f5f6f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-info-info li {
  list-style: none;
  padding: 5px;
  color: #65656d;
  font-size: 12px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.task-info-info li {
  width: auto;
}

.task-info-info li i {
  font-size: 16px;
}

/* [class^="cl-icon-"], [class*=" cl-icon-"] {
  font-family: "codelearn-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
} */

.task-info-info li span {
  margin-left: 3px;
}

.task-item-detail .easy span {
  background: #faa05e;
  padding: 10px;
  border-radius: 20px;
}

/* ---------------------------------------------------------------------- */
.col-lg-5 {
  width: 42%;
  /* background: white; */
}

.blog-block {
  margin-bottom: 30px;
  padding: 5px 25px;
}

.blog-item .list-style {
  margin-bottom: 0;
  border-bottom: 1px solid #ebebeb;
}

.blog-item {
  position: relative;
  z-index: 1;
}

.blog-item.list-style {
  padding: 10px 0;
  display: flex;
  align-items: stretch;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  text-decoration: none;
}

.blog-item .wrap-blog-item {
  background: var(--white);
  border-radius: 4px;
  color: inherit;
}

.blog-item.list-style .wrap-blog-thumb {
  position: relative;
  z-index: 1;
  width: 30%;
}

.blog-item.list-style .wrap-blog-thumb img {
  width: 100%;
  object-fit: cover;
  height: 108px;
  border-radius: 4px;
  vertical-align: middle;
  border: 0;
}

.wrap-blog-thumb img:hover {
  transform: scale(1.035);
  opacity: 0.7;
}

.blog-item.list-style .wrap-blog-item-content {
  width: 70%;
  padding-left: 20px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}

.blog-link {
  text-decoration: none;
}

.wrap-blog-item-content {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
}

.wrap-blog-item-content .blog-title {
  font-size: 15px;
  margin: 0;
  line-height: 1.2;
  text-decoration: none;
}

.blog-item.list-style .blog-title {
  font-size: 15px;
  margin: 0;
  line-height: 1.2;
}

.blog-title {
  color: black;
  transition: all 300ms;
}

.blog-item.list-style .short-desc {
  margin-top: 10px;
  margin-bottom: 0;
}

.short-desc {
  line-height: 1.46;
  height: 2.93em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.courses__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  color: #1e266d;
  align-items: center;
}

.badge .badge-secondary.medium span {
  background: #77c148;
  padding: 10px;
  border-radius: 20px;
}

.medium span {
  padding: 10px;
  border-radius: 20px;
}

.badge .badge-secondary .easy span {
  background: #faa05e;
  padding: 10px;
  border-radius: 20px;
}

.easy span {
  padding: 10px;
  border-radius: 20px;
}
