#Slider
{
    display: block;  
    background-color: rgb(228, 198, 236); 
    height: 600px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}
.Slider-title
{
    padding: 25px 0px 25px; 
    color: #1E266D;
    font-size: 28px;
    text-align: center;

}
.Slider-main
{
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    
}
.btn-right
{
    position:absolute;
    top:325px;
    font-size: 50px;
    right: 20%;
    color:#fff;
    z-index: 10;
    cursor: pointer;
    opacity: 0.6;

}
.btn-right:hover,.btn-left:hover
{
    opacity: 1;
}
.btn-left 
{
    position:absolute;
    top:325px;
    font-size: 50px;
    left: 20%;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    opacity: 0.6;
}
.Slide-active
{
      
    opacity: 0.8;
    transition-duration: 1s;
    transform: scale(1.05);
}
.Slide
{
    opacity:1 ;
    color: #000;   
    background-color: #fff;
    padding: 25px;   
    margin: 50px; 
    width: 30%;
    height: 150px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    
    border-radius: 10px;
    position: relative;
    background-image: url("../../../assets/images/background-taklabout.png");
    background-size: 100%; 
    background-repeat: no-repeat;
   
}
.Slider-item-name
{
    font-size: 20px;
    font-weight: 600;
    color:#E8505B;
    margin:10px
}
.Slider-item-avt
{
    position:absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}
.Slider-item-avt img
{
    max-width: 100px;
    border-radius: 30%;
}
.user-talk
{
    text-align: center;
}
.Slider-item-job,.Slider-item-age
{
    font-size: 16px; 
    font-weight: 600;
    color:#50e850;   
    display: inline-block;
   margin: 5px 0;
}
.Slider-item-think
{
    margin: 10px;
    font-size: 16px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.radio-btn 
{
    position: absolute;
    bottom: 50px;
}   
.radio-btn button
{
    width: 4px;
    border: none;
    background-color: #fff;
    border-radius: 50px;
}