.loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.App {
  min-height: 100vh;
}
.main-container {
  min-height: calc(100vh - 70px - 290px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.invalid {
  border-color: red !important;
  box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%) !important;
}
