.AdminAddCourse__{
    margin-left: 320px;
}
.top_decription_link{ 
    color:#000;
    text-align: center;
}
.center_AdminAddCourse__container{
    width:100%;
    display: flex;
    justify-content: start;
}
.center_menu_AdminAddCourse{
    width:30%;
}
.center_content_AdminAddCourse{
    width:100%;

}
.Container_____AdminAdCourse{
    padding:10px 20px;
    margin-bottom: 300px;
}
.top_decription_centercontent{
    display: flex;
    /* margin-bottom: 15px; */
}

.top_decription_centercontent p{
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}
/* .middle_decription_centercontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} */
.InputName_AddCourse,.InputDescription_AddCourse,.InputTime_AddCourse{
    margin-bottom: 20px;
}
.InputName_AddCourse input{
    width:100%;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    box-sizing: border-box;
    border:1px solid #000;
}
.InputDescription_AddCourse textarea{
    width:100%;
    height:300px;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    box-sizing: border-box;

}
.InputTime_AddCourse textarea{
    width:100%;
    height:100px;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    box-sizing: border-box;
    

    /* align-items: center; */
    /* text-align: center; */
}
.btn_Submit_AdminAddCourse{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

}
/* .btn_Submit_AdminAddCourse img{
    width: 500px;
} */
.btn_Submit_AdminAddCourse button{
    padding:5px 10px;
    width:150px;
    height:40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #050295;
    color: #fff;
    font-weight: 500;
}
.btn_Submit_AdminAddCourse button:hover{
    transform: scale(1.2);
    background-color: #050295;
}
.InputTime_AddCourse input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid#000;
    box-sizing: border-box;
    padding:5px;
    font-size: 20px;
}
