.courselist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.courselist-title {
  text-align: center;
  margin-left: 330px;
  font-size: 35px;
  color: black;
}
.courselist-search {
  display: flex;
  flex-direction: column;
}
.courselist-title1 {
  width: 70vw;
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 255px;
  color: black;
}

/* Course list path */

.courselist-path {
    text-align: left;
    padding: 40px 30px;  
    font-size: 16px;
    background-color: white;
    height: 50px;
  }
  .courselist-link {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color:#050295;
  }
  .courselist-link:hover {
    color: rgb(240, 27, 27);
    cursor: pointer;
  }
  
  .icon-angle-right {
    color: #050295;
    opacity: 0.8;
    font-size: 10px;
  }