.AdminUpdateCourse__container{
    margin-left: 320px;
}

.AdminUpdateCourse__container .admin-path {
    margin-left: 20px;
    margin-top: 10px;
}
.Update__AdminCourse__Container{
    width:100%;
}
.center_AdminUpdateCourse__container{
    width:100%;
    display: flex;
    justify-content: start;
}
.Update__container{
    padding: 10px 30px;
    margin-bottom: 310px;
}
.center_menu_AdminUpdateCourse{
    width:30%;
}
/* .center_content_AdminUpdateCourse{
    width:70%;
}
.center_content_AdminUpdateCourse_title{
    display: flex;
}
.upCourse_label{
    display:flex;
}
#Up_idCourse {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding:5px;
    border-radius: 5px;
}

.btn_updateCourse_find {
    display:flex;
    justify-content: flex-end;
}
.center_content_AdminUpdateCourse_title p{
    font-weight: 500;
    font-size: 25px;
}
.upCourse_label{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.btn_updateCourse_find input{
    width:150px;
    padding:5px;
    background-color: #050295;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.btn_updateCourse_find input:hover{
    transform: scale(1.1);
    background-color: #050295;
}
.center_content_AdminUpdateCourse__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.center_content_AdminUpdateCourse__nametitle{
    font-size: 25px;
    font-weight: 500;
}
.center_container_btn_deleteAll button{
    border-radius: 50% ;
    border:none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    color: red;
    width: 50px;
    height: 50px;
}
.center_container_btn_deleteAll i{
    font-size: 30px;
} */


/*****/
.center_content_AdminUpdateCourse{
    width:100%;

}
.Container_____AdminUpdateCourse{
    padding:0px 20px;
}
.top_decription_centercontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* margin-bottom: 15px; */
}
.top_decription_centercontent button{
    width:60px;
    padding:5px;
    background-color: #b21010;
    color: #fff;
    border-radius: 5px;
    border:1px solid #000;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.top_decription_centercontent button:hover{
    opacity: 700;
    /* background-color: #ccc; */
    color: #fff;
    transform: scale(1.2);
    background-color: #b21010;
}
.top_decription_centercontent p{
    font-size: 25px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}
/* .middle_decription_centercontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} */
.InputName_UpdateCourse,.InputDescription_UpdateCourse{
    margin-bottom: 20px;
}
.InputName_UpdateCourse input{
    width:100%;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    box-sizing: border-box;
    border:1px solid #000;
}
.InputDescription_UpdateCourse textarea{
    width:100%;
    height:300px;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    box-sizing: border-box;

}
.InputTime_UpdateCourse textarea{
    width:100%;
    height:100px;
    font-size: 20px;
    padding:5px;
    border-radius: 5px;
    box-sizing: border-box;
    

    /* align-items: center; */
    /* text-align: center; */
}
.btn_Submit_AdminUpdateCourse{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.btn_Submit_AdminUpdateCourse button{
    padding:5px 10px;
    width:150px;
    height:40px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #050295;
    color: #fff;
    font-weight: 500;
}
.btn_Submit_AdminUpdateCourse button:hover{
    transform: scale(1.2);
    background-color: #050295;
}
.InputTime_UpdateCourse{

    margin-bottom: 20px;
}
.InputTime_UpdateCourse input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid#000;
    box-sizing: border-box;
    padding:5px;
    font-size: 20px;
}
.btn_Submit_AdminUpdateCourse input{
    width: 130px !important;
    padding: 10px;
    background-color: #1E266D;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.btn_Submit_AdminUpdateCourse input:hover{
    opacity: 500;
    background-color: #ccc;
    color:#000;
    cursor: pointer;
}