.courselist {
  margin-left: 300px;
  padding: 10px 30px;
}
.courselist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.courselist-title {
  text-align: center;
  font-size: 35px;
  color: black;
}
.courselist-search {
  display: flex;
  flex-direction: column;
}
.courselist-title1 {
  width: 100%;
  text-align: left;
  font-size: 30px;
  margin-bottom: 0;
  color: #494949;
}

/* Course list path */

.courselist-path {
    text-align: left; 
    font-size: 16px;
    padding-top: 10px;
    background-color: white;
    height: 50px;
  }
  .courselist-link {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color:#050295;
  }
  .courselist-link:hover {
    color: rgb(240, 27, 27);
    cursor: pointer;
  }
  
  .icon-angle-right {
    color: #050295;
    opacity: 0.8;
    font-size: 10px;
  }
  .finding_course{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
  }
  .button-UpdateCourse{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .button-UpdateCourse input{
    width: 130px !important;
    padding: 8px 0;
    background-color: #1E266D;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;

  }
  .button-UpdateCourse input:hover{
    transform: scale(1.2);
    background-color: #050295;
    cursor: pointer;
  }