.censor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.censor-container h2 {
  width: 1700px;
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

/* Censor path */

.censor-path {
    text-align: left;
    padding: 40px 30px;  
    font-size: 16px;
    background-color: white;
    height: 100px;
  }
  
  .censor-link {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color:#050295;
  }
  
  .censor-link:hover {
    color: rgb(240, 27, 27);
    cursor: pointer;
  }
  
  .icon-angle-right {
    color: #050295;
    opacity: 0.8;
    font-size: 10px;
  }