.ForgotPassword__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ForgotPassword_content {
  width: 50%;
  border: 1px solid #0d25ff;
  position: absolute;
  top: 70px;
  border-radius: 5px;
}
.Top_ForgotPassword_title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding: 10px;
}
.Top_ForgotPassword_title span {
  font-size: 35px;
  font-weight: 600;
  color: #0d25ff;
}
.Top_ForgotPassword_title_line {
  border: 1px solid #0d25ff;
  margin-bottom: 15px;
}
/* .Name_ForgotPassword{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
} */
.form_ForgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.ForgotPassword_input {
  width: 60%;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}
.submit__ForgotPassword {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
}

.btn-submit-ForgotPassword {
  width: 60%;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-submit-ForgotPassword:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  font-size: 20px;
  transition: 0.25s;
}
.btn-submit-GoBack {
  width: 60%;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-submit-GoBack:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  font-size: 20px;
  transition: 0.25s;
}
.test {
  display: block;
  margin: 50px;
  padding: 10px;
  color: black;
  background-color: transparent;
  font-weight: bold;
  position: relative;
}
.test:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #e74c3c;
  transition: 0.25s;
  z-index: -1;
}
.test:hover:before {
  width: 100%;
}
