.forgot_pw_form_container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://cdn.discordapp.com/attachments/920241878358695990/980059979031662632/img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.forgot_pw_form {
  border: 2px solid #ccc;
  min-width: 550px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: white;
  z-index: 100000;
}
.forgot_pw_form_container input {
  border: 1px solid #ccc;
  box-shadow: none !important;
}
.forgot_pw_form button {
  display: block;
  text-align: center;
  height: 40px;
  width: 100%;
}
.forgot_pw_form h2 {
  text-align: center;
}
