.lesson-container {
  display: block;
  overflow: hidden;
  height: 100vh;
}
.lesson-name {
  background-color: #050295;
  display: block;
  color: #fff;
  text-align: left;
  position: relative;
  padding: 0 30px;
  font-size: 16px;
}
.lesson-name > p {
  display: inline-block;
}
.fa-angle-left {
  margin-right: 50px;
  font-size: 20px;
  color: #fff;
}
.fa-angle-right {
  position: absolute;
  right: 30px;
  color: #fff;
  top: 15px;
  font-size: 20px;
}
.fa-angle-right:hover {
  transform: scale(1.2);
  color: chartreuse;
}
.fa-angle-left:hover {
  transform: scale(1.2);
  color: chartreuse;
}

.lesson-main {
  display: flex;
}
.lesson-main .content-lesson {
  width: 40%;
  display: flex;
  height: 100vh;
}
.lesson-main .content-and-comment-lesson {
  width: 100%;
  height: 100vh;
}
.lesson-main .discuss-lesson {
  background-color: #050295;
  height: 100vh;
  width: 10%;
  display: flex;
  flex-direction: column;
}
.lesson-main .discuss-icon-lesson {
  background-color: #050295;
  border: none;
  padding: 10px 5px;
}
.lesson-main .fa-rocketchat {
  font-size: 30px;
  color: #fff;
}
.lesson-main .fa-clipboard {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}
.discuss-icon-lesson:hover .fa-clipboard {
  transform: scale(1.08);
  cursor: pointer;
}
.discuss-icon-lesson:hover .fa-clipboard {
  transform: scale(1.08);
  cursor: pointer;
}

.discuss-icon-on-lesson {
  background-color: #fff;
  border: none;
  padding: 10px 5px;
}
.discuss-icon-on-lesson .fa-rocketchat {
  font-size: 30px;
  color: #000;
}

.discuss-icon-on-lesson:hover .fa-rocketchat {
  transform: scale(1.08);
  cursor: pointer;
}
.discuss-icon-on-lesson .fa-clipboard {
  font-size: 30px;
  color: #000;
}
.discuss-icon-on-lesson:hover .fa-clipboard {
  transform: scale(1.08);
  cursor: pointer;
}
.main-content-lesson {
  padding: 10px;
  display: block;
  overflow: auto;
  float: right;
}
.main-content-lesson-off {
  display: none;
}
.main-content-lesson .content-header-lesson {
  display: flex;
  justify-content: space-between;
}
.content-and-comment-lesson {
  display: block;
  overflow: auto;
  height: 715px;
}
.level {
  border: none;
  border-radius: 50px;
  background-color: #ff5c00;
  color: #fff;
  padding: 5px 30px;
  font-size: 18px;
  display: inline-block;
}
.point-lesson {
  display: inline-block;
  color: #42ff00;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: bold;
}
.content-disc-lesson {
  font-size: 16px;
  text-align: justify;
}
.content-input-lesson,
.content-output-lesson {
  text-align: left;
}
/*RIGHT*/
.code-lesson {
  width: 60%;
  background-color: #232432;
  color: #fff;
  height: 100vh;
}
.intro-lesson {
  text-align: left;
  padding-left: 15px;
  position: relative;
}
.refresh-btn-lesson,
.intro-content-lesson {
  display: inline-block;
}
.refresh-btn-lesson {
  position: absolute;
  right: 10px;
  top: 16px;
  padding: 3px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}
.refresh-btn-lesson:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.place-code-lesson {
  padding: 10px;
  margin: -10px 0;
  width: 96%;
}
#code-of-exser-lesson {
  background-color: #232432;
  color: #fff;
  font-size: 20px;
  display: block;
  height: 250px;
  width: 100%;
  border: 2px #fff solid;
  border-radius: 10px;
}
.code-lesson .testcase-lesson {
  padding-left: 15px;
}
.testcase-header-lesson {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: -20px;
}
.testcase-content-lesson {
  display: flex;
}
.testcase-number-lesson {
  width: 20%;
  text-align: left;
  border: oldlace 1px solid;
  border-radius: 10px;
  margin: 10px;
  display: block;
}
.testcase-number-lesson ul {
  margin-left: -40px;
}
.testcase-number-lesson ul li {
  list-style-type: none;
  padding: 3px 10px;
}
.testcase-number-lesson ul li:hover {
  cursor: pointer;
  background-color: #3b3c54;
}
.testcase-display-lesson {
  width: 76%;
  text-align: left;
  background-color: #3b3c54;
  padding-left: 10px;
  border-radius: 10px;
}
.testcase-button-lesson {
  padding: 10px;
  text-align: right;
  margin-top: 30px;
}
.testcase-button-lesson .run-btn-lesson,
.testcase-button-lesson .submit-btn-lesson {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 10px;
  width: 110px;
}
.run-btn-lesson:hover,
.submit-btn-lesson:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.run-btn-lesson {
  background-color: #452be2;
  color: #fff;
}
.submit-btn-lesson {
  background-color: #42ff00;
  color: #fff;
}

.submit-btn-lesson-disable {
  background-color: #94ca68;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 10px;
  width: 110px;
}
/*comment*/

.comment-section-off-lesson {
  width: 100%;
  display: none;
}
.comment-section-on-lesson {
  width: 100%;
  display: block;
}
.number-comments-lesson {
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
}
.write-comment-lesson {
  padding: 20px;
  text-align: left;
}
.fa-user-circle {
  font-size: 50px;
  color: #3b3c54;
}
.comment-and-button-lesson {
  border-bottom: #3b3c54 1px solid;
  width: 100%;
  padding: 10px 0;
  text-align: right;
}
.place-write-comment-lesson {
  width: 90%;
}
#place-write-comment-lesson {
  width: 90%;
  height: 70px;
  border-radius: 5px;
  background-color: #f1eeee;
}

.post-comment-btn-lesson {
  background-color: #452be2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 5px;
  margin-right: 10px;
}
.post-comment-btn-lesson:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.others-comment-lesson {
  padding: 20px;
}
.other-commnet-lesson {
  margin-top: 30px;
  text-align: left;
}
.user-comment-lesson,
.user-infor-lesson {
  display: flex;
}
.user-infor-lesson {
  margin-left: 10px;
}
.user-infor-lesson .username {
  color: #4d96ff;
  margin-right: 20px;
}
.user-infor-lesson p {
  color: #898989;
  font-size: 16px;
}
.content-of-comment-lesson {
  padding: 0 10px;
  text-align: justify;
  border-bottom: solid 1px #3b3c54;
}
/* .content{display: none;} */
/* .code{ display: none;} */
.ListNode__Container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.discuss-list {
  width: 4%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #050295;
}
.Noted__container {
  width: 100%;
  /* height: 80vh; */
  border: 1px solid;
  position: relative;
  text-align: center;
}
.Noted__container_Top {
  width: 100%;
}
.Note_Fill_Container {
  width: 40%;
  display: flex;
  height: 100vh;
}
#note-of-lesson {
  width: 100%;
  padding: 20px;
  position: relative;
}
.submit_noted {
  position: absolute;
  /* position: absolute; */
  bottom: 40px;
  right: 15px;
  width: 150px;
}
.submit_noted button {
  border-radius: 10px;
  border: none;
  background-color: #42ff00;
  padding: 5px;
  cursor: pointer;
  color: #000;
}
.submit_noted button:hover {
  transform: scale(1.1);
  color: chartreuse;
  color: #000;
}
/* .submit_noted{
    position: absolute;
    right:20px;
    bottom:135px;
    cursor: pointer;
     
} */
.content-off {
  display: none;
}
.ListNode__Container-off {
  display: none;
}
.code-off {
  display: none;
}
.Noted__container_Center {
  display: flex;
  flex-direction: column;
}
.Noted__container_Center span {
  margin-bottom: 20px;
  font-size: 20px;
}
.Noted__container_title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}
.Noted_container_content {
  width: 100%;
}
.Noted_container_content input {
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
}
.Input__noted_container {
  display: flex;
  justify-content: center;
}
.Input__noted_container button {
  width: 20%;
  cursor: pointer;
  background: #452be2;
  border: none;
  color: #fff;
  margin-left: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
}
.Input__noted_container button:hover {
  transform: scale(1.08);
  cursor: pointer;
  color: #000;
}
.TodoNoted_list {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-lesson {
  display: inline-block;
  /* flex-direction: column; */
}

.comment-icon {
  display: flex;
}

.comment-icon p {
  padding-left: 10px;
}

.lesson-comment-show-more {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
}

.lesson-comment-show-more:hover {
  color: #1e266d;
  font-weight: 700;
}

.note-area {
  width: 90%;
  min-height: 270px;
  border-radius: 5px;
  background-color: #f1eeee;
}

.save-note-off {
  background-color: #007bff;
}
.save-note-on {
  color: #007bff;
  border-color: #007bff;
  background-color: #fff;
}
