.Register__container {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img-content-left_register img {
  width: 100%;
  height: 650px;
  object-fit: contain;
}
.img-content-left_register {
  width: 50%;
}
.Register_content {
  min-width: 350px;
  background-color: white;
  position: relative;
  width: 30%;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 0 30px;
  right: 0;
  margin-left: 10%;
}
.Top_Register_title {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.Top_Register_title span {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.Top_Register_title_line {
  border: 1px solid #0d25ff;
  margin-bottom: 5px;
}
/* .Name_register{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
} */
.form_register {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  width: 100%;
}
.register_input {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #000;
}
.submit__register {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
}

.btn-submit-register {
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px 0px;
  cursor: pointer;
  background-color: #0d25ff;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 700;
}
.btn-submit-register:hover {
  background-color: #ccc;
  color: #000;
  font-weight: 700;
  font-size: 20px;
}
.label-register_container {
  display: flex;
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 16px;
}
