
.Register__container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Register_content{
    width:50%;
    border:1px solid #0D25FF;
    position: absolute;
    top:50px;
    border-radius: 5px;
}
.Top_Register_title{
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    padding:10px;
}
.Top_Register_title span{
    font-size: 35px;
    font-weight: 600;
    color: #0D25FF;
}
.Top_Register_title_line{
    border: 1px solid #0D25FF;
    margin-bottom: 15px;
}
/* .Name_register{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
} */
.form_register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.register_input{
    width:60%;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding:5px;
    border-radius: 5px;
}
.submit__register{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;

}

.btn-submit-register{
    width:60%;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 10px 0px;
    cursor: pointer;
    background-color: #0D25FF;
    border-radius: 5px;
    border:none;
    color: #fff;
    font-weight: 700;
    margin-top: 15px;
}
.btn-submit-register:hover{
    background-color: #ccc;
    color:#000;
    font-weight: 700;
    font-size: 20px;

}