.register_form_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://miro.medium.com/max/1400/1*7UY-VVkg-_2Y92Zjq7JlOw.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.register_form {
  border: 2px solid #ccc;
  min-width: 350px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: white;
  z-index: 100000;
}
.register_form_container input {
  border: 1px solid #ccc;
  box-shadow: none !important;
}
.register_form_container span {
  color: red;
}
.register_form_container input:focus {
  border-color: #2c32db;
}
::placeholder {
  font-family: "Raleway", sans-serif !important;
}
.register_form h2 {
  text-align: center;
}
.register_form button {
  display: block;
  text-align: center;
  height: 40px;
  width: 100%;
}
.valid {
  border: 1px solid rgb(0, 240, 16) !important;
}

.invalid {
  border: 1px solid rgb(247, 25, 25) !important;
}
