.UpdateExercise-container
{
    padding: 50px;
}
.UpdateExercise-container h2
{
    color: #000;
}
/*button*/
.show{
    display: block;
}
.hide
{
    display: none;
}
.button-UpdateExercise
{
    text-align: right;
}
.button-search-updateExercise:hover,.button-update-updateExercise:hover
{
    cursor: pointer;
    background-color: cornflowerblue;
}
.button-update-updateExercise
{
    width: 130px !important;
    padding: 3px 0;
    background-color: #1E266D;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-top: 30px !important;
}
.button-search-updateExercise
{
    width: 130px !important;
    padding: 3px 0;
    background-color: #1E266D;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 5px; 
}
.UpdateExercise-main
{
    display: flex;
}
.UpdateExercise-left
{
    width: 30%;
    margin-right: 20px;
}
.UpdateExercise-right
{
    width: 70%;
    padding: 20px;
    text-align:left;
}
.upExercise-label
{
    display: block;
    font-weight: 600;
    font-size: 20px;
}
.UpdateExercise-right-title p
{
    font-weight: 600;
    font-size: 28px;
}
.row-updateExercise
{
    margin-bottom: 15px;
}
.UpdateExercise-right input,textarea
{
    width: 98%;
    padding: 8px 10px;
    margin: 5px 0;
}
.UpdateExercise-right select
{
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0;
    
}

.form-update-updateExercise p
{
    font-weight: 600;
    font-size: 28px;
}
#desExercise
{
   height: 100px;
}
#contentExercise
{
   height: 200px;
}
.add-test-case
{
    border: 1px solid #000;
    padding: 10px 10px;  
    font-style: italic; 
    color: #5f5c5c; 
    font-weight: 500;
}
.add-test-case:hover
{
    color: forestgreen;
    cursor: pointer;
}
.add-test-case i
{
    margin-right: 15px;
}
.in-out-Exercise
{
    display: flex;
    
}
#testExercise
{
  height: 100px;
}