.UpdateExercise-container {
  display: block;
}
.UpdateExercise-container h2 {
  color: #000;
}
/*button*/
.show {
  display: block;
}
.hide {
  display: none;
}
.button-UpdateExercise {
  text-align: right;
  margin-right: 145px !important;
}

.button-search-updateExercise {
  width: 130px !important;
  padding: 3px 0;
  background-color: #1e266d;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-right: -25px !important;
}
.UpdateExercise-main {
  display: flex;
}
.UpdateExercise-left {
  width: 30%;
}
.UpdateExercise-right {
  width: 70%;

  text-align: left;
  padding-top: 20px;
  padding-right: 100px;
}
.upExercise-label {
  display: block;
  font-weight: 600;
  font-size: 20px;
}
.UpdateExercise-right-title {
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
}
.UpdateExercise-right-title p {
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}
.row-updateExercise {
  margin-bottom: 15px;
}
.UpdateExercise-right input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}
.UpdateExercise-right textarea {
  width: 84%;
  padding: 10px;
  margin: 5px 0;
}
.UpdateExercise-right select {
  padding: 8px 12px;
  margin: 5px 0;
}

.form-update-updateExercise p {
  font-weight: 600;
}
#desExercise {
  height: 100px;
}
#contentExercise {
  height: 200px;
}
.add-test-case {
  border: 1px solid #000;
  padding: 10px 10px;
  font-style: italic;
  color: #5f5c5c;
  font-weight: 500;
  width: 20%;
}
.add-test-case:hover {
  color: forestgreen;
  cursor: pointer;
}
.add-test-case i {
  margin-right: 15px;
}
.in-out-Exercise {
  display: flex;
    width: 100%;
    justify-content: space-between;
}
#testExercise {
  height: 100px;
}
.delete-testcase-icon {
  margin-right: -13px;
}
.delete-testcase-icon button {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  border: red 1px solid;
  background-color: red;
}
.delete-testcase-icon button:hover {
  transform: scale(1.08);
  cursor: pointer;
}
.btn-update,
.btn-delete {
  margin: 5px 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 15px;
}
.btn-delete {
  color: #fff;
  background-color: #dc3545;
}
.btn-update {
  color: #fff;
  background-color: #0d6efd;
}
.flex-ue {
  display: flex;
  justify-items: center;
  align-items: center;
}
button:hover {
  cursor: pointer;
}
.btn-update:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-delete:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

